<header class="header">
    <div class="header__wrap content-wrap">
        <div class="header__container">
            <div class="header__logo">
                <img src="../img/header-logo.svg">
            </div>
            <div class="header__phone">
                <button class="header__button">
                    <span class="header__button_logo">
                        <img src="../img/header-phone.svg">
                    </span>
                    <span>
                        <a class="link-phone" href="tel:+7068034340">068 034 340</a>
                    </span>
                </button>
            </div>
        </div>
    </div>
</header>
